.colorbg{
  background-color: rgb(232, 226, 226);
}

.colorbarra{
  background-color: rgba(76, 76, 76, 0.79);
}

.tipo {
  font-family: 'Young Serif', serif;
}

// toma todo
* {
 margin: 0;
 padding: 0;
}
